
@font-face { 


	font-family: Soulwave; 
	src: url(Soulwave.ttf); 
	font-style:normal;
	font-weight:100;

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}



  
  #Name{
    font-family: Soulwave;
    font-weight:100;
    font-size: 100px;
    
    padding-bottom: 10px;
  }


  #adverHeader{
  	font-family: Soulwave;
  	font-size: 5vw;
  	max-height: 30vh;
  	margin: 0 auto;
  	text-align: center;

  }

  #webdevHeader{
  	font-size: 5vw;
  	max-height: 30vh;
  	font-family: Soulwave;
  	margin: 0 auto;
  	

  }


.banner{
	min-width: 300vmax;
	width: 1000vmax;
	top:0px;
	left: 5px;
	margin-bottom: :200px;
	position: fixed;
	max-height: 100vh;
	z-index:1000;
	
	background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
	 
}

html {
  scroll-behavior: smooth;
}


body{

	font-family: 'Piazzolla', serif;
	padding-left: 10px;
    padding-right:20px;
    text-align: :center;



}



body{
 background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 background-size: cover;


}


}
#AboutMe{
	display:flex;
	justify-content: center;
    min-width: 800vw
    padding: 5px;
    

}


#landing{
	
	margin:10px;
	
}


.menu-list{
	display:flex;
}


/*NAV BUTTON*/

.nav{
	display: flex;
    flex-direction: row;
	margin-top: 80px;
    margin-bottom: 100px;
	background-color: #fff;
	position:fixed;
	z-index: 1000;
	overflow:hidden;
	width:90%;
	
	padding:20px;
	border-radius:40px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	font-size: 18px;
    transition: all 0.3s ease;
}


/*.navbar a:hover {
  background: #ddd;
  color: black;
}*/

.nav-item1,.nav-item2, .nav-item3{
	display: inline;
	color: #83818c;
	padding: 20px;
	text-decoration: none;
	transition:0.3s;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 
	margin:0.6px;
	/*z-index: 1000;*/
	font-weight:500;
	/*position: relative;*/
	/*transition: all 0.3s ease;*/


}







/*.nav .menu-list.active{
	left: 0%;
}*/


/*@media  (max-width:400px) {

#menu-list{
	display:none;
	justify-content: space-around;
	
}

#open{
	display:block;
}

#close{
	display: none;
}

}*/


@media only screen and (max-width: 480px) {
.banner{
	width:700px;
}
	
.menu-list{
	display:none;

}
#close{
	display: none;
}

.nav{
	margin-top: 100px;
	padding:0px;
	width:200px;
	margin-bottom: 400px;
}
	

.banner{
	width:500px;
}





}










.nav-item1:hover{
	color:orange;
	
}

.nav-item2:hover{
	color:#9B59B6;
}

.nav-item3:hover{
	color:#E450A7;
}


.content{
	
	padding-top: 320px;
	max-width: 1250px;
	min-width: 400px;
	margin:100px;
	position: relative;

}



/*.nav-item:before{
	content:"";
	position:absolute;
	bottom:-7px;
	left:0;
	width:100%;
	height: 5px;
	background-color:#dfe2ea;
	border-radius:8px 8px 0 0;
	opacity:0;
	transition: 0.3s;
}


nav-indicator{
	position:absolute;
	left:0;
	bottom:0;
	height:4px;
	transition:0.4s;
	height:5px;
	z-index:1;
	border-radius:8px 8px 0 0;

}*/









a{
	display:flex;
	padding-bottom: 0px;


}

h1,h3{
	display:flex;

	text-align: center;
}

#projectname{
	display:flex;
	
   } 








div.fontawesomemargin{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	padding:30px;
	
	
}



div.fontawesomemarginbutton{

	display: flex;
	justify-content: center;
}





#list .p{

	display:flex;
 	flex-wrap:wrap;
 	flex-grow: 3;
 	justify-content: space-between;

 	
}





.items{
	display:flex;
	justify-content: space-around;


}

.items > img{
height:10px
max-width:10px;
}


.description{
	display:flex;
	font-size: 1.5vw;
	justify-content: space-around;

}

.edititem{
	margin-left: 10px;
}

.adveritem{
	margin-left: 15px

}

.map{
	
}


.line{
	border-top: 10px solid white; 
}



a:hover {
  color: black;
  background-color: transparent;
  border-color: black;
  opacity: 0.5px;
  text-decoration: none;

  
  
}

/*Buttons*/


a.Resumebutton{
	background-color: black; 
	color: white;
	margin-top::; 
	width:100px;
	
  text-decoration: none;
  display: flex;
  text-align: center;
  opacity: 1;
  transition: 0.3s;

}

.button {
  background-color: black;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  display: flex;
  text-align: center;
  width: 90px;
  align-items: center;
  justify-content: center;
}


.submitbutton{
	background-color: #F55F20;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  display: flex;
  text-align: center;
  width: 90px;
  align-items: center;
  justify-content: center;

}
.footerbutton{
	
    margin-top: 100px;
	display: inline-flex;
	position:relative;
	overflow:hidden;
	max-width:100%;
	background-color: black;
	padding:0 20px;
	border-radius:40px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	font-size: 22px;
	height:50px;
	color:white;
	align-items: center;
	justify-content: center;

	/*background-color: black; 
	border-radius: 10px; 
	padding:20px;
  
  color: white;
	justify-content: center;

	box-shadow:4px 4px 8px grey,
	-4px-4px 8px white;*/


}

.carousel-inner img {
  margin: auto;
}


#carousel{
	box-shadow: 5px 5px 15px grey;

}

/*cards*/
@media (min-width:34em) {
     .card
    {
        height: 100%;
        flex-wrap: wrap;
        display:flex;



        
    }


    .card:hover{

    	border-radius:18px;
	
	box-shadow: 20px 20px 20px black;
	


    }

   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}






form{
	color:white;
	max-width:550px;
	background: rgba(0,0,0,0.8);
	padding:30px;
	border-radius:5px;
	
	box-shadow: 0 0px 10px rgba(0,0,0,0.25);
	margin-top: 5px;

}

.icon{
	
	cursor: pointer;

	
}

button.closeBtni{
	position: relative;
	display: flex;
	align-content: right; 


}

/*menu-btn{
	position: absolute;
	left: 0px;
	right:30px;
	top:20px;
    

}*/
.projects{
	display: flex;
    align-content: center;
    margin-top: 100px;
}








